body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    background : url(ordi.jpg) no-repeat center fixed; 
    background-size: cover;
    }

    h1{
        text-transform: uppercase ;
        color: #FDC300;
        margin-top: 80px;
        font-size: 30px;
    }

    #description{
        font-style: italic ;
        color: #FDC300;
        font-size: 22px;
    }

     #survey-form {
        background-color :rgba(35,37,78, 0.9);
        color: whitesmoke;
        text-align: left;  
        width: 50%;
        padding:  20px 50px 20px 40px ;   
        margin: auto;
        margin-top: 50px;
        border-radius: 9px;
    }

    .borderchoice  {
        width: 100%;
        border-radius: 9px;
        height: 30px;
    }

    input, textarea {
        margin-top: 8px;
        padding-left: 5px;
        padding-top: 5px ;
    }

   #dropdown, #feature {
        width: 102%;
    }

   p {
        margin-top: 20px;
            }

    textarea {
        width: 100%;
    }
 

    .button{
        background-color: #FDC300;
       text-align: center;
       font-size: 15px;
       text-transform: uppercase;
       font-weight: bolder;
       height: 50px;
       color: rgb(35,37,78);
       margin-right: 50px;
       width: 101%;
    }

    #button:hover {
        opacity: 0.7;
        cursor: pointer;
    }

 
 /*MEDIA QUERIES*/

@media all and (max-width : 1024px)
{
#main {
    width: auto;
}
}
